<nav class="navbar navbar-expand-lg bg-light">
  <a class="navbar-brand px-2" href="/" data-turbo="false"><%= Rails.configuration.x.global.title %></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse px-3" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <!--li class="nav-item">
        <%= link_to "Projects", "/projects/index", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Designs", "/designs/index", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Owners", "/owners/index", class: "nav-link" %>
      </li-->
      <li class="nav-item">
        <%= link_to "Works", "/summary", class: "nav-link", data: {turbo: false} %>
      </li>
      <li class="nav-item">
        <%= link_to "Upload", "/works/new", class: "nav-link", data: {turbo: false} %>
      </li>
    </ul>
    <!--div class="d-flex" data-bs-toggle="modal" data-bs-target="#login_modal" onclick="document.getElementById('login_fram').reload();"-->
    <!--div class="d-flex" data-bs-toggle="modal" data-bs-target="#login_modal" onclick="Turbo.visit('/login_status', {action: 'replace'})"-->
    <div class="d-flex" data-bs-toggle="modal" data-bs-target="#login_modal">
      <span class="nav-item">
        <turbo-frame id="owner_status" src="/login_status"></turbo-frame>
      </span>
    </div>
  </div>
</nav>

<div class="modal fade modal" id="login_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <turbo-frame id="login_fram" src="/login" loading="lazy">
      </turbo-frame>
    </div>
  </div>
</div>
