<% no = 0 %>
<% table_format.each do |index, format| %>
  <% unless format[:formatter].nil? %>
    <%= "cellFormatter#{table_id}#{no}" %> = <%= format[:formatter].html_safe %>
  <% end %>
  <% no += 1 %>
<% end %>

$table = $("#<%= table_id %>")
var table_opt = <%= table_data.to_json.html_safe %>
table_opt["height"] = window.innerHeight - 100
$table.bootstrapTable("destroy")
$table.bootstrapTable(table_opt)

$nav = $("#sub_tables_nav")
<% if sub_tables.size > 6 %>
  $nav.replaceWith('<div id="sub_tables_nav" class="dropdown"></div>')
  $nav = $("#sub_tables_nav")
  $nav.append('<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Table: <%= sub_tables.invert[true] %></button>')
  $nav.append('<ul id="sub_table_dropdown" class="dropdown-menu"></ul>')
  $dropdown = $("#sub_table_dropdown")
  <% sub_tables.each do |n_table, active| %>
    $dropdown.append('<li ><a class="dropdown-item" onclick="changeSub(\'<%= n_table %>\')"><%= n_table %></a></li>')
  <% end %>
<% else %>
  $nav.replaceWith('<ul class="nav nav-tabs" id="sub_tables_nav"></ul>')
  $nav = $("#sub_tables_nav")
  <% sub_tables.each do |n_table, active| %>
    $nav.append('<li class="nav-item"><a class="nav-link <%= "active" if active %>" onclick="changeSub(\'<%= n_table %>\')"><%= n_table %></a></li>')
  <% end %>
<% end %>

//// Clipboard
//var clipboard = new ClipboardJS(".btn")
//clipboard.on('success', function(e) {
//  console.info('Action:', e.action);
//  console.info('Text:', e.text);
//  console.info('Trigger:', e.trigger);
//
//  e.clearSelection();
//});
//// Popover
//$('body').popover({
//  selector: '.focus-popover',
//  trigger: 'hover focus'
//});
////
