  <div class="row px-5 py-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Upload work manually
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <%= form_with model: @work do |form| %>
              <% [:name, :project, :design, :stage, :path].each do |input| %>
                <div class="form-floating mb-3">
                  <input placeholder="" type="text" class="form-control" id="work_<%= input %>" name="work[<%= input %>]">
                  <label for="work_<%= input %>"><%= input %></label>
                </div>
              <% end %>
              <div class="form-floating mb-3">
                <% if @owner.nil? %>
                  <input placeholder="" type="text" class="form-control" id="work_owner" name="work[owner]">
                <% else %>
                  <input placeholder="" type="text" class="form-control" id="work_owner" name="work[owner]" value="<%= @owner.name %>" readonly>
                <% end %>
                <label for="work_owner">owner</label>
              </div>
              <div class="form-check mb-3">
                <%= form.check_box :is_private, class: "form-check-input", id: "check_is_private" %>
                <label class="form-check-label" for="check_is_private"> Private </label>
              </div>
              <div class="mb-3">
                <label for="input_data_json" class="form-label"> Data JSON </label>
                <%= form.file_field :data, class: "form-control", id: "input_data_json" %>
              </div>
              <div class="mb-3">
                <label for="input_pictures" class="form-label"> Pictures </label>
                <%= form.file_field :pictures, multiple: true, class: "form-control", id: "input_pictures" %>
              </div>
              <% if @owner.nil? %>
                <div class="mb-3">
                  <label for="input_user_signature" class="form-label" > Signature File </label>
                  <%= form.file_field :signature, class: "form-control", id: "input_user_signature" %>
                  <i class="bi bi-info-circle-fill user-select-none" data-bs-toggle="modal" data-bs-target="#signature_about">About User Signature</i>
                  <div class="modal fade modal-lg" id="signature_about" tabindex="-1" aria-labelledby="signature_about_label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="signature_about_label">About User Signature</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h5>Select existed signature file:</h5>
                          <pre class="py-3"><code>~/.sasami_key</code></pre>
                          <h5>For new user, you can generate a signature by command below:</h5>
                          <pre class="py-3"><code><%= %q(echo `date +%s``hexdump -v -n 8 -e '/1 "%02X"' /dev/random` > ~/.sasami_key && chmod og-rw ~/.sasami_key) %></code></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= form.submit class: "btn btn-primary my-2" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Or use batch upload script
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="alert alert-secondary w-50" role="alert">
              <a href="/upload.rb" download="upload.rb" class="alert-link">Download</a> the upload script.
              Use <code>upload.rb --help</code> to show usage.
            </div>
            <span class="badge bg-secondary">Example</span>
            <pre><code>
upload.rb \
  --name testtt4 \
  --path work_dir/a/b \
  --stage syn \
  --project mc50 \
  --design test_design \
  --data data.json \
  --picture pic0.jpg \
  --picture pic1.jpg \
  [--private]
            </code></pre>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            About data JSON
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="alert alert-secondary w-50" role="alert">
              <p>The <code>"key"</code> and <code>"value"</code> key-value pairs are required,</p>
              <p>you can also add extra key-value pairs,</p>
              <p>Use <code>"picture:0"</code> in "value" to reference uploaded picture by index.</p>
            </div>
            <span class="badge bg-secondary">Structure</span>
            <pre><code>
{
  "sub_table_name": [
      {
          "key": "metrics_name",
          "value": "metrics_value",
          "extra_key_name": "extra_key_value",
          ...
      },
      ...
  ],
  ...
}
            </code></pre>
            <span class="badge bg-secondary">Complete example</span>
            <pre><code>
{
  "sub_table0": [
      {
          "key": "area",
          "value": "3412"
      },
      {
          "key": "max-frequency",
          "value": "800M"
      }
  ],
  "sub_table1": [
      {
          "key": "tns",
          "value": "9999",
          "type": "setup"
      },
      {
          "key": "wns",
          "value": "999",
          "type": "setup"
      },
      {
          "key": "wns",
          "value": "27",
          "type": "setup",
          "group": "B"
      },
      {
          "key": "congestion",
          "value": "picture:0"
      },
      {
          "key": "density",
          "value": "picture:1"
      },
      {
          "key": "wns",
          "value": "27",
          "scenario": "wcl",
          "violation": "setup"
      }
  ]
}
            </code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
